<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test4</title>
    <style>
        table, tr, td{
            border: 2px solid;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href='/CPA'>CPA Students</a></li>
        <li><a href='/allStudents'>All Students</a></li>
        <li><a href='/addStudent'>Add A New Student</a></li>
        <li>Note: Locate specific student by student Id, e.g., http://localhost:8080/student/3</li>
        <li><a href='/highGPA'>Highest GPA</a></li>
        <li><a href='/'>Home</a></li>
    </ul>
    <hr>
    <div class="container">
        {{{body}}}
    </div>
    <hr>
    <h2>Student Honour Pledge: </h2>
    <p>I acknowledge the College's academic integrity policy - and my own integrity -
        remain in effect whether my work is done remotely or onsite. Any test or assignment
        is an act of trust between me and my instructor, and especially with my classmates...
        even when no one is watching. I declare I will not break that trust.</p>
    <p>Name: <mark>Anna Seo</mark></p>
    <p>Student Number: <mark>110186202</mark> </p>
</body>
</html>